@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Markazi+Text:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: #ffffff;
    min-height: 100vh;
}

.navbar{
    background-color: #AD3232;
    width: 100%;
}

.logo img{
    padding: 1vw;
    margin-left: 1.5vw;
    width: 9vw;
    height: 6vw;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    color: #fff;
    font-family: "Markazi Text", serif;
}

.texto_nav{
    font-size: 1.8vw;
    margin: 2vw;
}

.navbar ul li input{
    font-family: "Markazi Text", serif;
    width: 14vw;
    height: 2vw;
    border: 0.5vw solid #F8AD8C;
    border-radius: 0.5vw;
}

.icon-lupa{
    height: 1.2vw;
    width: 1.2vw;
}

.icon-reorder img{
    height: 2.5vw;
    width: 2.5vw;
    padding-right: 5vw;
}

.box-highlights-of-the-week{
    padding: 3vw;
}

h2{
    margin-top: 40px;
    font-size: 1.8vw;
    font-family: "Lemonada", cursive;
    text-align: center;
    margin-bottom: 5vw;
}

.container {
    background-color: #F8AD8C;
    width: 65vw;
    height: 35vw; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    margin-bottom: 200px;
    padding-bottom: 2%;
}

.container h1{
    margin-top: 180px;
}

.footer{
    background-color: #AD3232;
    font-family: "Markazi Text", serif;
    margin-top: auto;
}

.footer ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer ul li{
    list-style: none;
    font-size: 20px;
    color: #fff;
}

.footer ul li img{
    width: 160px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
  }

  button{
    background-color: transparent;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
  }
  
  #msgError{
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
  
  #msgSuccess{
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }

  .label-float{
    font-family: "Lemonada", cursive;
    font-size: 21px;
    font-weight: 600;
  }

  .label-float div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .label-float div input{
    padding: 10px;
    margin-right: 13%;
    margin-left: 13%;
    border: none;
  }

  .label-float div label{
    margin-right: 55%;
  }

  .justify-center{
    display: flex;
    justify-content: center;
  }

  .justify-center button{
    margin: 100px;
  }

  #labelNome{
    margin-right: 68%;
  }

  #labelUsuario{
    margin-right: 68%;
  }

  #labelSenha{
    margin-right: 64%;
  }