@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Markazi+Text:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: #ffffff;
    min-height: 100vh;
}

.navbar{
    background-color: #AD3232;
    width: 100%;
}

.logo img{
    padding: 1vw;
    margin-left: 1.5vw;
    width: 9vw;
    height: 6vw;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    color: #fff;
    font-family: "Markazi Text", serif;
}

.texto_nav{
    font-size: 1.8vw;
    margin: 2vw;
}

.navbar ul li input{
    font-family: "Markazi Text", serif;
    width: 14vw;
    height: 2vw;
    border: 0.5vw solid #F8AD8C;
    border-radius: 0.5vw;
}

.icon-lupa{
    height: 1.2vw;
    width: 1.2vw;
}

.icon-reorder img{
    height: 2.5vw;
    width: 2.5vw;
    padding-right: 5vw;
}

.box-highlights-of-the-week{
    padding: 3vw;
}

h2{
    font-size: 1.8vw;
    font-family: "Lemonada", cursive;
    text-align: center;
    margin-bottom: 5vw;
}

.carroussel{
    position: relative;
    overflow: hidden;
    padding: 20px;
    display:flex ;
    padding: 0 10vw;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.carroussel::-webkit-scrollbar{
    display: none;
}

.card-recipe{
    flex: 0 0  auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;


}
.arrow-left,
 .arrow-right{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 100%, #ffffff 100%);
    cursor: pointer;
    z-index: 9;

}

.arrow-left{
    left: 0;
}

.arrow-right{
    right: 0;
}

.arrow-left img,
.arrow-right img{
    opacity: 0.2;
}

.arrow-left:hover img,
.arrow-right:hover img{
    opacity: 1;
}




.box-red-slider{
    background-color: #AD3232;
    width: 400px;
    align-items: center;
    align-content: center;
}

.box-nude-slider{
    background-color: #F8AD8C;
    width: 17.4vw;
    height: 28.5vw;
}

.box-white-slider{
    background-color: #fff;
}

.box-red{
    color: #AD3232;
    background-color: #AD3232;
    width: 100%;
    height: 12.8vw;
    align-items: center;
    align-content: center;
}
.box-white{
    color: #ffffff;
    background-color: #ffffff;
    margin: 0vw 1vw 0vw 1vw;
    height: 10.2vw;
    align-items: center;
    align-content: center;
}
.box-nude{
    background-color: #F8AD8C;
    margin: 0vw 0.7vw 0vw 0.7vw;
    height: 4.4vw;
    color: #000;
    padding: 2.2vw;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: "Markazi Text", serif;
    font-size: 1.6vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

.content .box-explore-by-category .box-red .box-white .box-nude ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .box-explore-by-category .box-red .box-white .box-nude ul li{
    margin: 0px;
    list-style: none;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.content .box-news{
    margin-top: 5vw;
    margin-bottom: 7vw;
}

.box-red-recipes{
    background-color: #AD3232;
    height: 30vw;
    display: grid;
    grid-template: auto/1fr 1fr 1fr 1fr;
}

.recipe{
    background-color: #F8AD8C;
    width: 17.4vw;
    height: 25.5vw;
    margin-left: 3vw;
    margin-top: 2.2vw;
}

.box-recipe{
    background-color: #fff;
    width: 16vw;
    height: 22.5vw;
    margin-top: 1.5vw;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
}

.recipe-name img{
    margin-top: 0.5vw;
    width: 15vw;
    height: 17vw;
}

.recipe-name p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lemonada", cursive;
    font-size: 1.1vw;
}


.box-message{
    background-color: #F8AD8C;
    margin: 0px 400px 100px 400px;
    font-family: "Markazi Text", serif;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.footer{
    display: flex;
    background-color: #AD3232;
    font-family: "Markazi Text", serif;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer .social-media{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 15px;
}

.footer .social-media .inst{
    width: 24%;
}

.footer .social-media .face{
   width: 10%;
   margin-left: 15px;
}

.footer .social-media .x{
    width: 30%;
}

.footer ul{
    display: flex;
    align-items: center;
}

.footer ul li{
    list-style: none;
    font-size: 25px;
    color: #fff;
    margin-right: 200px;
}

.footer .logo img{
    width: 68%;
    height: 120px;
    margin-right: 10px;
}













