@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Markazi+Text:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: #ffffff;
    min-height: 100vh;
}
body a{
    text-decoration: none;
}

.navbar{
    background-color: #AD3232;
    width: 100%;
}

.logo img{
    padding: 1vw;
    margin-left: 1.5vw;
    width: 9vw;
    height: 6vw;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    color: #fff;
    font-family: "Markazi Text", serif;
}

.texto_nav{
    font-size: 1.8vw;
    margin: 2vw;
}

.navbar ul li input{
    font-family: "Markazi Text", serif;
    width: 15vw;
    height: 2vw;
    border: 0.4vw solid #F8AD8C;
    border-radius: 0.8vw;
}

.navbar  ul li input::-webkit-input-placeholder{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.icon-reorder img{
    height: 2.5vw;
    width: 2.5vw;
    padding-right: 5vw;
}

.content a{
    color: #000;
}

.box-highlights-of-the-week{
    padding: 3vw;
}

h2{
    font-size: 1.8vw;
    font-family: "Lemonada", cursive;
    text-align: center;
    margin-bottom: 5vw;
}

.carousel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Lemonada", cursive;
    margin-bottom: 25px;
}

.card-recipe{
    position: relative;
    background-color: #F8AD8C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 420px;
    margin-left: 30px;
    border: 10px solid #AD3232

}

.recipe-content{
    display: flex;
    width: 250px;
    height: 370px;
    background-color: #fff;
    border: 2px solid #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.image-recipe-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/Panqueca\ de\ chocolate.jpeg.jpg');
    width: 95%;
    height: 82%;
    background-size: cover;
}

.image-recipe-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/cup.jpeg');
    width: 95%;
    height: 82%;
    background-size: cover;
}

.image-recipe-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/Biscoitos\ de\ coracao.jpeg.jpg');
    width: 95%;
    height: 82%;
    background-size: cover;
}

.image-recipe-4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/Torta\ de\ figo.jpg');
    width: 95%;
    height: 82%;
    background-size: cover;
}

.name-recipe{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    width: 250px;
    height: 50px;
    top: 10px;
    
}

.arrow-left,
.arrow-right{
    border: none;
    width: 4vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 100%, #ffffff 100%);
    cursor: pointer;
    z-index: 9;

}

.arrow-left{
    left: 0;
}

.arrow-right{
    right: 0;
}

.arrow-left img,
.arrow-right img{
    opacity: 0.2;
    width: 100px;
}

.arrow-left:hover img,
.arrow-right:hover img{
    opacity: 1;
}

.box-red{
    background-color: #AD3232;
    width: 100%;
    height: 12.8vw;
    align-items: center;
    align-content: center;
}

.box-white{
    color: #ffffff;
    background-color: #ffffff;
    margin: 0vw 1vw 0vw 1vw;
    height: 10.2vw;
    align-items: center;
    align-content: center;
}
.box-nude{
    background-color: #F8AD8C;
    margin: 0vw 0.7vw 0vw 0.7vw;
    height: 4.4vw;
    color: #000;
    padding: 2.2vw;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: "Markazi Text", serif;
    font-size: 1.6vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

.content .box-explore-by-category .box-red .box-white .box-nude ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .box-explore-by-category .box-red .box-white .box-nude ul li{
    margin: 0px;
    list-style: none;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.content .box-news{
    margin-top: 5vw;
    margin-bottom: 7vw;
}

.box-red-recipes{
    background-color: #AD3232;
    height: 30vw;
    display: grid;
    grid-template: auto/1fr 1fr 1fr 1fr;
}

.recipe{
    background-color: #F8AD8C;
    width: 17.4vw;
    height: 25.5vw;
    margin-left: 3vw;
    margin-top: 2.2vw;
}

.box-recipe{
    background-color: #fff;
    width: 16vw;
    height: 22.5vw;
    margin-top: 1.5vw;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    font-family: "Lemonada", cursive;
}

.recipe-name img{
    margin-top: 0.5vw;
    width: 15vw;
    height: 17vw;
}

.recipe-name p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
}


.box-message{
    background-color: #F8AD8C;
    margin: 0vw 29vw 7vw 29vw;
    font-family: "Markazi Text", serif;
    text-align: center;
    padding: 1.6vw;
    font-size: 1.8vw;
}

.footer{
    display: flex;
    background-color: #AD3232;
    font-family: "Markazi Text", serif;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vw;
}

.footer .social-media{
    display: flex;
    align-items: center;
    width: 30vw;
}

.footer .social-media .inst{
    width: 7.6vw;
    padding-bottom: 0.2vw;
    margin-left: 1vw;
}

.footer .social-media .face{
   width: 3.5vw;
   margin-left: 1vw;
}

.footer .social-media .x{
    width: 10.2vw;
    padding-bottom: 0.3vw;
}

.footer ul{
    display: flex;
    align-items: center;
}

.more{
    list-style: none;
    font-size: 2vw;
    color: #fff;
    padding-right: 14vw;
}

.partners{
    list-style: none;
    font-size: 2vw;
    color: #fff;
    padding-right: 8vw;
}

.footer .logo img{
    width: 13vw;
    height: 8vw;
    margin-right: 1vw;
    padding: 0vw;
}
