@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Markazi+Text:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: #ffffff;
    min-height: 100vh;
}

.navbar{
    background-color: #AD3232;
    width: 100%;
}

.logo img{
    padding: 1vw;
    margin-left: 1.5vw;
    width: 9vw;
    height: 6vw;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    color: #fff;
    font-family: "Markazi Text", serif;
}

.texto_nav{
    font-size: 1.8vw;
    margin: 2vw;
}

.navbar ul li input{
    font-family: "Markazi Text", serif;
    width: 14vw;
    height: 2vw;
    border: 0.5vw solid #F8AD8C;
    border-radius: 0.5vw;
}

.icon-lupa{
    height: 1.2vw;
    width: 1.2vw;
}

.icon-reorder img{
    height: 2.5vw;
    width: 2.5vw;
    padding-right: 5vw;
}

.box-highlights-of-the-week{
    padding: 3vw;
}

h2{
    font-size: 1.8vw;
    font-family: "Lemonada", cursive;
    text-align: center;
    margin-bottom: 5vw;
}

.box-red{
    color: #AD3232;
    background-color: #AD3232;
    width: 100%;
    height: 12.8vw;
    align-items: center;
    align-content: center;
}
.box-white{
    color: #ffffff;
    background-color: #ffffff;
    margin: 0vw 1vw 0vw 1vw;
    height: 10.2vw;
    align-items: center;
    align-content: center;
}
.box-nude{
    background-color: #F8AD8C;
    margin: 0vw 0.7vw 0vw 0.7vw;
    height: 4.4vw;
    color: #000;
    padding: 2.2vw;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: "Markazi Text", serif;
    font-size: 1.6vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

.content .box-explore-by-category .box-red .box-white .box-nude ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .box-explore-by-category .box-red .box-white .box-nude ul li{
    margin: 0px;
    list-style: none;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.content .box-news{
    margin-top: 5vw;
    margin-bottom: 7vw;
}

.box-red-recipes{
    background-color: #AD3232;
    height: 30vw;
    display: grid;
    grid-template: auto/1fr 1fr 1fr 1fr;
}

.recipe{
    background-color: #F8AD8C;
    width: 17.4vw;
    height: 25.5vw;
    margin-left: 3vw;
    margin-top: 2.2vw;
}

.box-recipe{
    background-color: #fff;
    width: 16vw;
    height: 22.5vw;
    margin-top: 1.5vw;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
}

.recipe-name img{
    margin-top: 0.5vw;
    width: 15vw;
    height: 17vw;
}

.recipe-name p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lemonada", cursive;
    font-size: 1.1vw;
}


.box-message{
    background-color: #F8AD8C;
    margin: 0px 400px 100px 400px;
    font-family: "Markazi Text", serif;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.footer{
    background-color: #AD3232;
    font-family: "Markazi Text", serif;
}

.footer ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer ul li{
    list-style: none;
    font-size: 20px;
    color: #fff;
}

.footer ul li img{
    width: 160px;
}